# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/tmp
/out-tsc
/catalina.base_IS_UNDEFINED
/anarres-core/qr.png
# dependencies
/node_modules
*/node_modules
*.log

# IDEs and editors
/.idea
anarres/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.iml


# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db


# Maven files #
###############
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

