import { Component, Input, OnInit } from '@angular/core';
import { SFSchema } from '@delon/form';
import { _HttpClient } from '@delon/theme';
import { NzMessageService } from 'ng-zorro-antd/message';
import { NzModalRef } from 'ng-zorro-antd/modal';

@Component({
    selector: 'app-edit-${cfg.table.angularCompSelectorName}',
    templateUrl: './edit.component.html',
})
export class ${cfg.table.angularCompClassName}EditComponent implements OnInit {

    rolePrefix = '${cfg.table.rolePrefix}';

    @Input()
    record: any;

    schema: SFSchema = {
        properties: {
#foreach($field in ${table.fields})
    #if(!${field.keyFlag} && !${field.fill})
        #if(${field.propertyType.equalsIgnoreCase("boolean")})
            ${field.propertyName}: {
                type: 'boolean', title: '${field.comment}',
                enum: [{label: '是', value: true}, {label: '否', value: false}],
                default: true,
                ui: {placeholder: '是否启用', widget: 'select'}
            },
        #elseif(
            ${field.propertyType.equals("int")} ||
            ${field.propertyType.equals("Integer")} ||
            ${field.propertyType.equalsIgnoreCase("long")} ||
            ${field.propertyType.equalsIgnoreCase("short")} ||
            ${field.propertyType.equalsIgnoreCase("byte")} ||
            ${field.propertyType.equals("BigDecimal")}
        )
                ${field.propertyName} : {type: 'number', title: '${field.comment}'},
        #elseif(${field.propertyType.equals("String")})
            #if(${field.propertyName.equalsIgnoreCase("remark")} || ${field.propertyName.equalsIgnoreCase(
                "description")})
            ${field.propertyName} : {
                type: 'string',
                title: '${field.comment}',
                ui: {
                    widget: 'textarea',
                    autosize: {minRows: 2, maxRows: 10},
                    placeholder: '添加描述'
                }
            },
            #else
            ${field.propertyName} : {
                type: 'string',
                title: '${field.comment}',
                pattern: '^\\w+$',
                ui: {
                    widget: 'string',
                    placeholder: '角色唯一标识,不可重复,由字母,下划线,数字组合',
                    errors: {
                        pattern: '仅支持输入字母、下划线、数字'
                    }
                }
            },
            #end
        #elseif(${field.propertyType.equals("Date")} || ${field.propertyType.startsWith("LocalDate")})
            ${field.propertyName} : {
                type: 'string',
                title: '${field.comment}',
                format: 'date-time'
            },
        #else
            // 所有未知的复杂类型都当作枚举处理
            ${field.propertyName}: {
                type: 'array',
                title: '${field.comment}',
                enum: [{label: 'v0', value: 0}, {label: 'v1', value: 1}],
                default: 0,
                ui: {placeholder: '${field.comment}', widget: 'select'}
            },
        #end
    #end
#end
        },
        required: [${cfg.table.angularCompSfRequires}],
        ui: {
            spanLabelFixed: 100,
            grid: { span: 24 }
        }
    };

    constructor(
        private modal: NzModalRef,
        private msgSrv: NzMessageService,

        public http: _HttpClient,
    ) {}

    ngOnInit(): void {

    }

    save(value: any): void {
        this.http.post(`${cfg.table.angularApiPath}/update`, value).subscribe(res => {
            this.msgSrv.success('修改成功');
            this.modal.close(res);
        });
    }

    close(): void {
        this.modal.destroy();
    }
}
