package ${cfg.table.packageUo};

import java.io.Serializable;
import java.time.LocalDateTime;
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;
import lombok.experimental.Accessors;
import javax.validation.constraints.NotBlank;
import javax.validation.constraints.NotNull;

/**
 * <p>
 * $!{table.comment}
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@Data
@Accessors(chain = true)
@ApiModel(value="${cfg.table.classNameUo}对象", description="$!{table.comment}")
public class ${cfg.table.classNameUo} implements Serializable {

## ----------  BEGIN 字段循环遍历  ----------
#foreach($field in ${table.fields})
#if(!${field.fill})
#if("$!field.comment" != "")
    @ApiModelProperty(value = "${field.comment}")
#end
#if(${field.propertyType.equals("String")} )
    @NotBlank(message = "${field.comment}不能为空")
#else
    @NotNull(message = "${field.comment}不能为空")
#end
    private ${field.propertyType} ${field.propertyName};

#end
#end
}
